<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <div class="register-cont">
      <form action="/add-user" method="POST" class="reg-form">
        <input type="email" name="uemail" placeholder="Email" id="uemail" />
        <input type="text" name="uname" placeholder="Username" id="uname" />
        <input
          type="password"
          name="upassword"
          placeholder="Password"
          id="upassword"
        />
        <button type="submit" id="reg-btn">Register</button>
      </form>
    </div>
  </body>
</html>