<div class="about-container">
  <section class="aboutSection">
    <h1 class="homepage">emma viitanen</h1>
    <h4>I have always loved design and programming and I find it interesting when you combine them.
    </h4>
    <h4>Before I started my studies at JTH, I took one semester at Blekinge Tekniska Högskola (BTH), to study Web
      programming online. I quickly realized that not being on campus was demotivating and made it difficult for me to
      learn. This lead to me ending my studies at BTH and continued the semester working.</h4>
    <h4>After keeping an eye out on other programs and schools I came across Jönköping Universtiy and was imidiatly
      drawn to its viraity of programs and courses. There I found a program that combined my two passions, which lead me
      to start studying New Media Design.
    </h4>
  </section>
  <img id="aboutImg" src="/img/smile.png" alt="Image of me" />
</div>
<div id="skills">
  <h2 id="skillsHead">my skills</h2>
  <table class="aboutTable">
    {{#each skills}}
      <tr>
        <th id="sname">{{sname}}</th>
        <th id="stype"> {{stype}}</th>
        <th id="sdesc">{{sdesc}}</th>
      </tr>
    {{/each}}
  </table>
</div>