<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me</title>
  </head>
  <body>
    <div class="about-con">
      <div class="me-img">

        <h1>Emma Viitanen</h1>
        <img src="/img/smile.JPG" alt="img" />
      </div>

      <div class="skills">
        <div class="socialMedia">
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/emma-viitanen-182ba3249/">
                <img src="https://cdn-icons-png.flaticon.com/256/61/61109.png" alt="linkedin" />
                LinkedIn</a>
            </li>
            <li>
              <a href="https://www.instagram.com/emma.viitanen/">
                <img
                  id="insta"
                  src="https://static.vecteezy.com/system/resources/previews/023/986/885/non_2x/instagram-logo-instagram-logo-transparent-instagram-icon-transparent-free-free-png.png"
                  alt="instagram"
                />Instagram</a>
            </li>
            <li>
              <a href="https://www.facebook.com/profile.php?id=100011092866911&locale=sv_SE">
                <img
                  src="https://seeklogo.com/images/F/facebook-icon-black-logo-133935095E-seeklogo.com.png"
                  alt="facebook"
                />Facebook</a>
            </li>
          </ul>
        </div>
        <h3>Skills</h3>
        {{#each skills}}
          <li>
            {{sname}}
            -
            {{stype}}
            -
            {{sdesc}}
          </li>
        {{/each}}

      </div>
    </div>
    <span>
      <p>I have always loved design and programming and I find it interesting when you combine them.
      </p>
      <p>Before I started my studies at JTH, I took one semester at Blekinge Tekniska Högskola (BTH), to study Web
        programming online. I quickly realized that not being on campus was demotivating and made it difficult for me to
        learn. This lead to me ending my studies at BTH and continued the semester working.</p>
      <p>After keeping an eye out on other programs and schools I came across Jönköping Universtiy and was imidiatly
        drawn to its viraity of programs and courses. There I found a program that combined my two passions, which lead
        me to start studying New Media Design.</p>
    </span>
  </body>
</html>