<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Information</title>
  </head>
  <body>
    <div class="contcon">
      <h1>Let's get in touch</h1>
      <form class="con-form" action="" method="post">
        <input type="text" name="full-name" id="full-name" placeholder="FULL NAME" />
        <div id="conform">
          <input type="tel" name="phone" id="phone" placeholder="PHONE NUMBER" />
          <input type="email" name="email" id="email" placeholder="EMAIL" />
        </div>
        <input type="text" name="message" id="message" placeholder="MESSAGE" />
        <button type="submit" class="red-button">SEND</button>
      </form>
    </div>
  </body>
</html>