<div class="home-container">
  <a href="/about" class="homeText"><div>
      <h1 class="homepage">graphic designer <br /> UX/UI designer</h1>
      <section>
        <h4>My name is Emma Viitanen, and I am currently a student</h4>

        <h4>at Jönköping School of Engineering. This is my second</h4>
        <h4>year studying graphic design and web development</h4>
        <h4>and this is my web-based portfolio.</h4>
        <h4 class="underlined">READ MORE</h4>
      </section>
    </div></a>
  <img class="homeImg" src="/img/smile.png" alt="Image-of-me" />
</div>