<div class="form">
  <h1>Login</h1>
  <form action="/login" method="post">
    <input type="text" name="username" class="loginInput" placeholder="Username" required />
    <input type="password" name="password" class="loginInput" placeholder="Password" required />
    <button class="loginInput" type="submit">Login</button>
  </form>
  <p>or</p>
  <form action="/add-user">
    <button class="loginInput" type="submit">Register</button>
  </form>
  {{#if error}}
    <h1 class="error">{{error}}</h1>
  {{/if}}
  {{#if message}}
    <h1 class="error">{{message}}</h1>
  {{/if}}
</div>