<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <h1>{{session.name}}</h1>
    <div class="profileCont">
      <img
        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
        alt="empty profile image"
        id="empty"
      />
      <input type="file" name="profileImg" id="profileImgInp" placeholder="Edit profile image" />
    </div>
    {{! <h2>Add profile img</h2> }}
  </body>
</html>