<h1>Hello {{session.name}}</h1>
<div class="container">
  <p>Welcome to my portfolio. Click around to get to know me and my work a bit better.
    <br />
    Best regards,
    <br />
    Emma Viitanen</p>
</div>