<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>projects</title>
  </head>
  <body>
    <div class="projDisplay">
      <div class="projDisplayText">
        <h1 class="project-info">{{project.ptitle}}</h1>
        {{project.pdesc}}
      </div>
      <img src="{{project.purl}}" alt="{{project.purl}}" id="pid-img" />
    </div>
  </body>
</html>